footer {
  text-align: center;
  background-color: #fff;
  color: #222;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  min-height: 1px;
  padding: 0.3em 0 0.3em 0;
}

footer > * > a {
  color: black !important;
}
